// -----------------------------------------------------------------------------
// В этом файле находятся всевозможные специфические стили
// -----------------------------------------------------------------------------

.is-scroll-locked {
  overflow: hidden;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.collapsed:not(.collapsed_show) {
  display: none !important;
}

.scrollbar-hide {
  ::-webkit-scrollbar {
    display: none;
  }
}
