FTP_HOST=ftp.example.com
FTP_USER=your-ftp-user
FTP_PASSWORD=your-ftp-password
FTP_SECURE=true
FTP_REMOTE_DIR=/path/to/site

WP_THEME_NAME=Theme
WP_THEME_DESCRIPTION=
WP_THEME_AUTHOR=
WP_THEME_AUTHOR_URI=
WP_THEME_VERSION=1.0.0