<div
  class="modal mw-callback"
  data-modal="callback"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-callback-title"
  aria-hidden="true"
>
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__wrapper">
        <div class="modal__header">
          <p class="modal__title" id="modal-callback-title">
            Заголовок формы
          </p>

          <button
            class="modal__close"
            type="button"
            data-modal-close
            aria-label="Закрыть"
          ></button>
        </div>
        <!-- /.modal__header -->

        <div class="modal__content">
          <form class="form form-custom" action="" data-validation>
            <div class="form__wrapper">
              <div class="input" data-field>
                <input
                  id="callback-name"
                  class="input__field"
                  type="text"
                  name="user_name"
                  placeholder=""
                  autocomplete="name"
                  required
                  minlength="2"
                  data-validate
                  data-error-required="Укажите имя"
                  data-error-minlength="Имя должно содержать минимум 2 символа"
                >
                <label class="input__label" for="callback-name">Имя</label>
              </div>
              <!-- /.input -->

              <div class="input input--box" data-field>
                <textarea
                  id="callback-message"
                  class="input__field"
                  name="user_message"
                  placeholder=""
                  minlength="5"
                  data-validate
                ></textarea>
                <label class="input__label" for="callback-message">Комментарий</label>
              </div>
              <!-- /.input -->
            </div>
            <!-- /.form__wrapper -->

            <div class="form__action">
              <button class="button button-primary" type="submit">
                <span>Отправить</span>
              </button>
            </div>
            <!-- /.form__action -->

            <div class="form__privacy">
              <p>
                Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных и
                <span><a class="link" href="">политикой конфиденциальности</a></span>
              </p>
            </div>
            <!-- /.form__privacy -->
          </form>
        </div>
        <!-- /.modal__content -->
      </div>
      <!-- /.modal__wrapper -->
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.modal__overlay -->
</div>
<!-- /.modal -->
